body{
    background-image: url("https://img.europapress.es/fotoweb/fotonoticia_20110113135257_640.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    background-size: cover;
}

header{
    height: 40%;
    width: 100%;
    padding: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabla{
    margin: auto;
    width: 900px;
    height: 300px;
    text-align: center;
}