body{
    background-image: url("https://s3.eestatic.com/2019/01/01/espana/politica/Pablo_Iglesias-Pedro_Sanchez-Pablo_Casado-Albert_Rivera-Politica_365225888_111380036_1024x576.jpg");
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: soft-light;
    background-size: cover;
}